<section class="content">

  <div class="row">

    <div class="col-md-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Listing Categories</h3>
        </div>

        <div class="box-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @categories.each do |category| %>
                <tr>
                  <td><%= category.name %></td>
                  <td>
                    <%= link_to 'Edit', edit_category_path(category), { :class => 'btn btn-xs btn-warning' } %>
                    <%= link_to 'Delete', category, :method => 'delete', :class => 'btn btn-xs btn-danger' %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

        <div class="box-footer">
          <%= link_to 'New category', new_category_path, { :class => 'btn btn-primary' } %>
        </div>

      </div>
    </div>

  </div>

</section>